body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 0 60px 0;
}


canvas {
  border: 1px solid #000;
  margin-top: 10px;
  background: #fafafa;
  width: 100%;
  height: auto;
}

#layout {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#display-properties, #channel-properties, #edit-tools {
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
  min-width: 120px;
}

table {
  margin-top: 10px;
}

.row-hover {
  background-color: #cce0ff;
}

.row-edit {
  background-color: #ffcccc;
}

#measure-table {
  margin-top: 4px;
  width: 100%;
}

.offcanvas-body .btn-link {
  display: block;
  width: 100%;
  text-align: left;
  margin: 4px 0;
}

